@using System.Web.Mvc.Html
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Graph.Components.NewsListBlock.NewsListBlockModel>

<div class="news-list">
	<div class="news-list__container">
		<div class="news-list__items">
		@foreach (var item in Model.News)
		{
			<div class="news-item">
				<div class="news-item__image-container">
					@if (item.Image != null) {
						<div class="news-item__media">
								<img class="news-item__img" src="@item.Image">
						</div>
					}
				</div>
				<div class="news-item__content">
					<h3 class="news-item__title">
						<a class="news-item__link" href="@item.Url">@item.Title</a>
					</h3>
					<div class="news-item__description">@item.Description</div>
					<time class="news-item__date">@item.Date.ToString("dd MMM yyyy")</time>
				</div>
			</div>
		}
		</div>
		<div class="news-list__navigation">
			@Html.Partial("/App_Plugins/NewsListBlock/Views/NewsListNavigation.cshtml", Model.PageNavigationModel)
		</div>
	</div>
</div>

